
.signup-main-container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem !important;
}

.sign-up-form-image {
    display: none;
}

/* Media Queries */

@media screen and (min-width: 576px) {

    .signup-main-container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 40% 30%;
        gap: 0px 2rem;
        height: 100%;

    }

    .sign-up-form-image {
        display: block;
        max-width: 500px;
        height: 500px;
    }

    .signup-page-side {
        display: flex;
        padding-top: 7.5rem;

    }
}
