
.signup-main-container {
    display: flex;
    flex-direction: column;
}

.sign-up-form-image {
    display: none;
}

/* Media Queries */

@media screen and (min-width: 640px) {


    .signup-main-container {
        display: flex;
        flex-direction: column;

    }

    .sign-up-form-image {
        display: block;
        max-width: 350px;
        height: 350px;
    }

    .signup-page-side {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .sign-up-form-title {
        margin: 2rem;
    }
}

@media (min-width: 1024px) {
    .signup-main-container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0px 2rem;
        height: 100%;

    }
    .sign-up-form-image {
        display: flex;

        max-width: 500px;
        height: 500px;
    }



}
