.profile-page-container {
    display: flex;
    flex-direction: column;
    border: #EBE9EA solid 1px;
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 10px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    width: 100%;
    margin: 0;
}

.profile-page-header {
    padding: 0 1rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-image: url(/src/assets/Profile/profile-card-bg.jpg);
    background-size: cover;
    border-radius: 10px 10px 0 0;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    z-index: 500;
}

.profile-details,
.bio-section,
.skills-section,
.experiences-section,
.profile-page-render--experience-container,
.contact-info {
    margin: 1.5rem;
}
.industry-tags ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}
.industry-tags ul li {

    background-color: var(--bs-gray);
    list-style-type: none;
    margin: 0.4rem;
    border-radius: 4px;
    padding: 0.4rem;
    color: var(--off-white);

}
.contact-info {
    display: flex;
    flex-direction: column;


}

.sign-up-message {
    border: black solid 2px;
    padding: 1rem;
}

.profile-page-render--card-body {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.profile-page-render--skill-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.skill-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.skill-tags ul li {
    background-color: var(--bs-gray);
    list-style-type: none;
    margin: 0.4rem;
    border-radius: 4px;
    padding: 0.4rem;
    color: var(--off-white);
}
.profile-page-render--experience-container{
    display: flex;
    flex-direction: column;
}
.experiences-section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.2rem 0;
}

.experience-cards-container{
    margin: 1rem;
    display: flex;
    flex-direction: column;

}
.profile-page-render-experiences-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
}
.experience-contact-info{
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0;
    gap: 1rem;
    align-content: center;
    align-items: center;
    text-decoration: none;
}
.experience-contact-info:hover{
    text-decoration: underline;
}
