@import '../../index.css';

/* Banner Section */

.banner {
    margin: 0 auto;
    /*width: 100vw;*/
    /*height: 65vh;*/
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-image: url(src/assets/wavebanner.png);*/


}

/*.wave {*/
/*    object-fit: cover;*/
/*    position: fixed;*/
/*    left: 0;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    opacity: 0.2;*/
/*}*/


.header {
    /*margin: 10vh auto;*/
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    /*padding: 5em;*/
    padding-bottom: 50px;
}

.header-text {
    /*width: 50%;*/
    /*height: 100vh;*/
    text-align: left;
    justify-content: left;
    align-items: left;
    margin: 50px auto;
}

.header-img {
    width: 50%;
    /*height: 100vh;*/
    justify-content: center;
    align-items: center;
}

.group-img {
    border-radius: 15%;
    /*width: 25em;*/
    /*height: 15em;*/
    /*margin-right: 10rem;*/
    display: flex;
    align-items: center;
}

.header-headline {
    font: var(--headline-xl);
    color: var(--dark-blue);
}

.header-subheadline {
    font: var(--body-lg);
    color: var(--dark-blue);
    padding-top: 18px;
}

.hero-banner-buttons{
    /*display: flex;*/
    /*justify-content: space-evenly;*/
    /*padding-top: 18px;*/
    display: flex;
    padding-top: 18px;
    flex-direction: column;
    align-items: center;
}
/* HomePage Body */
.home-container{
    display:flex;
    flex-direction: column;
}

.filter-results{
    border: black solid 1px;
    display: flex;
    margin:2rem;
}

.home-body-container{
    display:flex;
    overflow:hidden;
}

.filter-container{
    flex:0 1 10rem;
    margin:0 1rem;
    padding: 2rem;
    border: black solid 1px;
    height:50%;
}

.profile-card-container{
    flex:3;
}


/*Statement Section*/

/* Media Queries */

@media screen and (min-width:576px) {

    .header {
        flex-direction: row;
        /*height: 50vh;*/
        padding: 20px;
        justify-content: center;
        align-items: center;
        padding-bottom: 70px;
    }

    .header-text {
        font: var(--headline-md);
        width: 100%;
        text-align: left;
    }

    .header-img {
        width: 80%;
        height: auto;
    }

    .group-img {
        border-radius: 15%;
        max-width: 100%;
        height: auto;
        /*height: 45em;*/
        display: flex;
        margin: 10px auto;
    }
    .hero-banner-buttons{
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-top: 18px;


    }
}
