@import '../../index.css';


/* Banner Section */

.banner {
    margin: 0 auto;
    padding-top: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.header {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    justify-content: center;
    align-items: center;
    /*padding: 5em;*/
    padding-bottom: 50px;
}

.header-text {
    text-align: left;
    justify-content: left;
    align-items: flex-start;
    margin: 50px auto;
}

.header-img {
    width: 50%;
    /*height: 100vh;*/
    justify-content: center;
    align-items: center;
}

.group-img {
    border-radius: 15%;
    display: flex;
    align-items: center;
}

.header-headline {
    font: var(--headline-xl);
    color: var(--dark-blue);
    text-align: center;
}

.header-subheadline {
    font: var(--body-lg);
    color: var(--dark-blue);
    padding-top: 18px;
    text-align: center;
}

.hero-banner-buttons {
    display: flex;
    padding-top: 18px;
    flex-direction: column;
    align-items: center;
}

/* HomePage Body */
.home-container {
    display: flex;
    flex-direction: column;
}

.filter-results {
  border:solid black 0.5px;
  flex-direction: row;
    display: flex;
    margin: 2rem 5rem;
   padding:1rem;
  
}

.filter-results span {
    display: inline-block; /* Make tags display in a line */
    margin-left:1rem;
    background-color: #f0f0f0; /* Example: Set background color */
    padding: .25rem; /* Example: Add padding */
    border-radius: 5px; /* Example: Add rounded corners */
    
  }
  


.home-body-container {
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.filter-container {
    display: flex;
    flex-direction: column;
    flex:  1 3rem;
    margin: 2rem ;
    padding: 2rem;
    height: 30vh;
}

.profile-card-container {
    margin-top:4rem;
    flex: 3;
}




/* Media Queries */

@media screen and (min-width: 640px) {
    .home-body-container {
        display: flex;
        flex-direction: row;
    }

    .header {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px 20px 70px;
    }

    .header-text {
        font: var(--headline-md);
        width: 100%;
        text-align: left;
    }

    .header-img {
        width: 80%;
        height: auto;
    }

    .group-img {
        border-radius: 15%;
        max-width: 85%;
        height: auto;
        display: flex;
        margin: 10px auto;
    }

    .hero-banner-buttons {
        display: flex;
        flex-direction: column;
        padding-top: 18px;
        align-items: flex-start;
    }

    .header-headline {
        text-align: left;
    }

    .header-subheadline {

        text-align: left;
    }
}

@media (min-width: 768px) {
    .hero-banner-buttons {
        display: flex;
        flex-direction: row;
        gap: 20px;
        padding-top: 18px;
    }

    .hero-banner-buttons {

        gap: 20px;
    }

}
