/* 

.scss for toggle switch available here if you want to use some ideas for styling:

https://www.sitepoint.com/react-toggle-switch-reusable-component/ 

*/

@import '../../index.css';

.toggle-switch {
    position: relative;
    width: 2.5rem;
    height:2rem;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: left;
    &-checkbox {
      display: none;
    }
    &-label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border: 0 solid #bbb;
      border-radius: 20px;
      margin: 0;
    }
    &-inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
      &:before,
      &:after {
        display: block;
        float: left;
        width: 50%;
        height: auto;
        padding: 0;
        line-height: auto;
        font-size: 1rem;;
        color: white;
        font-weight: bold;
        box-sizing: border-box;
      }
      &:before {
        content: "Y";
        text-transform: uppercase;
        padding-left: 10px;
        background-color: #f90;
        color: #fff;
      }
    }
    &-disabled {
      background-color: #ddd;
      cursor: not-allowed;
      &:before {
        background-color: #ddd;
        cursor: not-allowed;
      }
    }
    &-inner:after {
      content: "N";
      text-transform: uppercase;
      padding-right: 10px;
      background-color: #bbb;
      color: #fff;
      text-align: right;
    }
    &-switch {
      display: block;
      width: 1rem;
      height: 1rem;
      margin: 1px;
      background: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 1.4rem;
      border: 0 solid #bbb;
      border-radius: 20px;
      transition: all 0.3s ease-in 0s;
    }
    &-checkbox:checked + &-label {
      .toggle-switch-inner {
        margin-left: 0;
      }
      .toggle-switch-switch {
        right: 0px;
      }
    }
  }
  