.user-detail-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

.user-card-container {
  padding: 20px;
  border: 1px solid #EBE9EA;
  border-radius: 10px;
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
  width: 300px;
}

.user-details-title {
  margin-bottom: 20px;
  text-align: center;
}

.user-details-list {
  list-style: none;
  padding: 0;
}

.user-details-list li {
  margin-bottom: 10px;
}

.user-details-list li strong {
  font-weight: bold;
}
  
