@import '../../index.css';

.user-card-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .user--card-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  .user--card-container h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .user--card-container p {
    margin-bottom: 20px;
  }
  
  .user--card-container button {
    background-color:#19216C ;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .user--card-container button:hover {
    background-color: #616E7C;
  }
  