@import '../../index.css';



.profile--card-container {
    display: flex;
    flex-direction: column;
    border: #EBE9EA solid 1px;
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 10px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 1), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    /* overflow: hidden; */
    width: 320px;
}

.profile--card-header {
    padding: 0 16px;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-image: url(/src/assets/Profile/profile-card-bg.jpg);
    background-size: cover;
    border-radius: 10px 10px 0 0;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.profile-image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: black solid 1px;
    transition: all .2s;
    background-color: white;
}

.profile--card-header .profile--card-header-share {
    display: flex;
    align-items: center;
}


.profile--card-header-share .profile-header-social-menu button {
    width: 35px;
    /* Adjust width and height as needed */
    height: 35px;
    border-radius: 50%;
    /* For a circular shape */

}

.profile--card-header-share .profile-header-social-menu button:hover {
    cursor: pointer;
}

.profile--card-body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.profile--card-body-title {
    font-weight: bold;
    padding-bottom: 10px;
}

.profile-Card-Body {
    padding: 5px;
}

.hr {
    height: 2px;
    border-width: 0;
    color: gray;
    background-color: gray;
    margin-top: 20px;
}

.profile--card-footer {
    padding: 0 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.profile-card-footer-social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
    margin: 0.8rem 0;
    width: 40%;

}

.profile-card-action-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.profile-card-footer-btn {
    height: 2rem;
    width: 6rem;
}

/* Styling Social Media Share icon menu*/

.dd-list ul {
    display: flex; /* Display list items in a row */
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
  }

  .dd-list ul li {
    margin-right: 10px; /* Add some space between list items */
  }

  .dd-list ul li .icon {
    display: inline-block; /* Display icons as inline-block elements */
  }
.profile--card-placeholder-icon{
    color: var(--orange-200);
}
@media screen and (min-width:640px) {

    .profile--card-container {
        width: 350px;
    }
}
