@import '../../index.css';

.profile-cards-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

@media screen and (min-width:576px) {
    .profile-cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;

    }


}