


.form-select {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    padding: 0.8rem 1rem;
    -moz-padding-start: calc(0.75rem - 3px);
    line-height: 1.5;
    background-color: var(--off-white);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: unset;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Open Sans', sans-serif;
}


button, select {
    text-transform: none;
}

select option:checked {
    /* Your styles here */
    color: #999; /* Placeholder text color */
    padding: 10px;
}
