@import "../index.css";

.password-main-container{
  display: flex;
  flex-direction: column;
 
  margin-top:5rem;
  margin-left:10rem;

}

.password-header{
  display:flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  margin: 5.5rem auto  2rem auto 2rem;
}

.password-header h1{
  margin-bottom: 1rem;
}

.password-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.password-form{
  flex:1;
}

.password-form-illustration{
  flex:2;
}

.diversitect-4{
  flex: 1;
  padding: 2rem;
}
.password-form-illustration{
  display: none;
}

@media screen and (min-width:576px) {
  .password-form-container{
      display:flex;
      flex-direction:row;
      flex-wrap: wrap;

  }
      .password-image{
      width: 100%;
      max-height: 650px;
      margin-top: -15rem;
  }
  .password-form-illustration {
      display: inline-block;
  }
 

  .password-header {
      display: flex;
      flex-direction: column;
      font-family: 'Open Sans', sans-serif;
      margin: 5rem 0;
  }
}


