body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 5px 7px;
    display: block;
    margin: 0 auto;
    font-size: 12px;
    background-color: #1f2933;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn-modal:hover {
    background-color: #3e4c59;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.modal {
    top: 10%;
    margin: auto;
    z-index: 1000;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.6;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 90%;
    min-width: 300px;
    max-height: 80vh;
    overflow-y: auto;
    font-size: 16px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

