@import '../../index.css';

.contactus-main-container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 5rem;
}
.contact-us-header{
    display:flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 2rem;
    margin-top: 5.5rem;
}

.contact-us-header h1{
    margin-bottom: 1rem;
}
.contact-us-header{
    margin-bottom: 2rem;
}
.contact-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.contact-form{
    flex:1;

}

.contact-form-illustration{
    flex:2;

}

.diversitech-3{
    flex: 1;
    /*margin: 5rem auto;*/
    padding: 2rem;
}
.contact-form-illustration{
    display: none;
}
.contact-form-illustration p{
    display:flex;
    justify-content: center;
    border: black solid 1px;
    margin: 1rem 10rem;
    padding: 10rem 2rem;
}

@media screen and (min-width:640px) {
    .contact-form-container{
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;

    }
        .contactus-page-image{
        width: 100%;
        max-height: 650px;
    }
    .contact-form-illustration {
        display: inline-block;
    }
    .contact-form-illustration p{
        margin: 0rem 1rem;
    }

    .contact-us-header {
        display: flex;
        flex-direction: column;
        font-family: 'Open Sans', sans-serif;
        margin: 5rem 0;
    }



}
