@import '../../index.css';

.mobile-container {
    background-color: var(--bs-gray-gray-900);
    color: white;
    border-radius: 10px;
}

.topNav {
    overflow: hidden;
    background-color: var(--bs-gray-gray-900);
    position: relative;
}

.nav-hideItem {
    display: none;
}

.nav-showItem {
    display: block;
}

.topNav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topNav a.icon {
    background: var(--bs-gray-gray-900);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.topNav a.icon:hover {
    cursor: pointer;
}

.nav-Links a:hover {
    background-color: var(--bs-gray-gray-200);
    color: var(--cool-grey-900);
}

.active {
    background-color: var(--bs-gray-gray-900);
    color: white;
}

@media screen and (min-width: 640px) {
    .topNav {
        display: flex;
    }

    .nav-Links {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }

    .hamburgerIcon {
        display: none !important;
    }

    .nav-hideItem {
        display: flex !important;
    }
}
