.login-main-container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem !important;
}

.login-page-image-container {
  display: none;
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 450px;
}

.form-controller {
    width: 100%;
}

.login-btn{
    margin: 3rem 0 0.6rem;
}

@media screen and (min-width:576px) {
    .login-main-container {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 0px 8rem;
        height: 100%;
    }
    .login-page-image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .login-page-image-container img{
        max-width: 500px;
    }
}
