*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

*,
*:before,
*:after {
  box-sizing:inherit;
}

html{
  scroll-behavior: smooth;
}

:root {
  /*page colors*/
 --bg-light:ffffff;
 --dark-blue: #2D3A8c;
 --med-blue: #647ACB;
 --light-blue: #E0E8F9;
 --off-white: #f5f7fa;
 --light-red: #DE3A11;
 --light-gray: #E4E7EB;
 --black: black;



 /*font*/
 --headline-xl: 600 37px/1 'Open Sans', sans-serif;
 --headline-lg: 600 24px/1 'Open Sans', sans-serif;
 --headline-md: 600 20px/1 'Open Sans', sans-serif;
 --headline-sm: 600 16px/1 'Open Sans', sans-serif;

 --body-lg: 400 16px/1 'Open Sans' sans-serif;
 --body-sm: 400 14px/1 'Open Sans' sans-serif;
}



/*dark/light mode*/
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
