@import '../../index.css';

form h2 {
    margin-bottom: 3rem;
    text-align: center;
}

.form-container {
    top: 0;
    right: 0;
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    padding: 1rem;
    margin: 0px auto;
    height: auto;
    background-color: var(--off-white);
    font-family: 'Open Sans', sans-serif;

}

label {
    /* font-family: var(--body-lg); */
    display: flex;
    align-items: baseline;
    margin-top: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 4px;
}

input,
textarea,
select {
    /* font-family: var(--body-sm); */
    display: flex;
    width: 100%;
    align-items: baseline;
    height: 3rem;
    border: solid 1px var(--light-gray);
    border-radius: 4px;
}

textarea {
    height: 20vh;
}



.login-link {
    margin-top: 1.2rem;
    text-align: right;
}

/* Add padding to placeholder text */
input::placeholder {
    padding: 10px;
    /* Adjust the padding value as needed */
}
.accepted_terms-label{
    display: inline-block;
}
.accept_terms-container{
    display: flex;
    margin-bottom: 3rem;
    padding-top: 10px;
    gap: 0 1rem;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.userbutton{
    margin-top: 2.5rem;
    width: 100%;
    height:2rem;
    border-radius:1.5rem;
    background-color: #19216c;
    color: #fff;
    font-weight: bold;
}

.userbutton:hover{

    background-color: #bed0f7;
    cursor: pointer;
    color: #1f2933;
}

input[type=checkbox]{
    width: 25px;
}

@media screen and (min-width:576px) {

    .form-container {

        padding: 7rem;
    }

    .signup-form {
        width: 50%;
        margin: 0 auto;

    }
    .signup-form div{
        width: 100%;
    }

}
